body {
	font-family: 'Rajdhani', sans-serif;

	margin: 0;
	box-sizing: border-box;

	color: #10375c;
}

h1 {
	margin: 0 0 15px;

	text-align: center;
}

div {
	max-width: 800px;
	width: 80%;

	margin: auto;

	padding: 50px 40px;
	background-color: #faf4ff;

	box-shadow: 0 0 8px 2px #10375c;
}

p {
	font-size: 24px;
	width: 100%;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	margin: 30px 0;
	display: block;
}